<div id="<%= dom_id idea %>">
  <div>
    <strong>Title:</strong>
    <%= idea.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= idea.description %>
  </div>

  <div>
    <strong>Rating:</strong>
    <%= idea.rating %>
  </div>

  <div>
    <strong>User:</strong>
    <%= idea.user_id %>
  </div>

</div>
